
{{#each posts as |post| }}
<div class="post-preview">
  <a href="/posts/{{post.id}}">
      <h2 class="post-title">{{post.title}}</h2>
  </a>
  <p class="post-meta">
      Posted by
      <a href="#!">{{user.name}}</a>
      on {{format_date date_created}}
  </p>
</div>

<hr class="my-4" />
{{/each}}